<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @right.name %>
</p>

<p>
  <b>Postion:</b>
  <%= @right.postion %>
</p>


<%= link_to 'Edit', edit_right_path(@right) %> |
<%= link_to 'Back', rights_path %>
